<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">

    </div>
    <div class="head-content-right" style="margin-left: 10px">
      <div class="head-menu">
        <div class="head-menu-item">
          <button
            class="head-menu-item-btn ripple"
            [cdkMenuTriggerFor]="languageOverlay"
          >
            <img
              [src]="'../../assets/flags/' + selectedLanguage.flag + '.png'"
              class="flag"
              alt="flag"
            />
          </button>
        </div>

        <div class="head-menu-item">
          <button
            class="head-menu-item-btn ripple"
            [cdkMenuTriggerFor]="notificationOverlay"
            (click)="viewNotifications()"
          >
            <i class="far fa-bell menu-icon"></i>
            <span class="notification-badge" *ngIf="newNotificationsCount > 0" [@badgeAnimation]>
              {{ newNotificationsCount }}
            </span>
          </button>
        </div>

        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple" (click)="message()">
            <i class="far fa-comment-alt menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
          <img
            [src]="selectedPicture || (user.image ? 'data:image/jpg;base64,' + user.image : 'assets/youssef.jpg')"
            alt="user"
            class="user-avatar"
            style="width: 50px; height: 50px"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #searchOverlay>
  <div class="overlay overlay-search overlay-fall" cdkMenu>
    <input type="search" class="search" placeholder="Search..." />
    <button class="search-btn">
      <i class="far fa-search search-icon"></i>
    </button>
  </div>
</ng-template>

<ng-template #languageOverlay>
  <div class="overlay overlay-language overlay-fall" cdkMenu>
    <ul>
      <li *ngFor="let lang of languages" cdkMenuItem>
        <img
          [src]="'assets/flags/' + lang.flag + '.png'"
          alt="flag"
          (click)="setlang(lang)"
        />
        <span>{{ lang.language }}</span>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #notificationOverlay>
  <div
    class="overlay overlay-notification overlay-fall"
    cdkMenu
    @notificationOverlayAnimation
  >
    <ul>
      <li class="notification-head-container">
        <div class="notification-head">Notification</div>
        <span class="view-all-link">
          <a>View All</a>
        </span>
      </li>
      <li
        class="notification-message-container"
        *ngFor="let notification of notifications"
        cdkMenuItem
      >
        <i [class]="notification.icon"></i>
        <div>
          <div class="notification-subject">
            {{ notification.subject }}
          </div>
          <p class="notification-desc">
            {{ notification.description }}
          </p>
          <p class="notification-desc">
            {{ notification.dueDate }}
          </p>
        </div>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #userOverlay>
  <div class="overlay overlay-user overlay-fall" cdkMenu>
    <ul>
      <li *ngFor="let item of userItems" cdkMenuItem>
        <a>
          <i class="icon" [ngClass]="item.icon"></i>
          <button mat-button (click)="openDialog()">
            <span>{{ item.label }}</span>
          </button>
        </a>
      </li>
    </ul>
    <button mat-button (click)="handleLogout()" routerLinkActive="active">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout
    </button>
  </div>
</ng-template>
