<div class="best-user-container">
  <div #fireworksContainer style="position: absolute; width: 100%; height: 100%; z-index: -1;"></div>

  <div class="user-card" *ngIf="bestUser">
    <div class="user-header">
      <h1 class="best-user-title">Meet the Best Employee!</h1>
      <p class="subtitle">Recognizing excellence and dedication</p>
    </div>
    <div class="profile-image-container">
      <img [src]="bestUser.profilePicture" alt="Profile Picture" class="profile-pic" />
    </div>
    <h2 class="user-name">{{ bestUser.name }}</h2>
    <p class="tasks-count">Role: {{ bestUser.userRole }}</p>
  </div>
</div>
